<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
		"-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" [
	<!ENTITY log-pattern "&#x25;d{ISO8601} | &#x25;-5p | &#x25;c | &#x25;m&#x25;n">
	<!ENTITY date-pattern "'.'yyyy-MM-dd-HH">
]>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="&log-pattern;" />
		</layout>
	</appender>

	<appender name="webappDemoLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="c:/webapp-demo.log" />
		<param name="datePattern" value="&date-pattern;" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="&log-pattern;" />
		</layout>
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="webappDemoLog" />
		<appender-ref ref="consoleAppender" />
	</root>

</log4j:configuration>